.client-form {
    background-color: rgba(222, 114, 107, 0.7);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.client__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.client__form_row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 230px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.form-checkbox label {
    margin-right: 10px;
}

.form-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
