.client-form4 {
    background-color: rgba(28, 114, 162, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 1080px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.client__form4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 5px; /* Réduction de l'espacement entre les éléments */
}

.form-group label {
    flex: 1;
    white-space: nowrap;
    text-align: right;
    margin-right: 5px; /* Réduction de la marge droite */
}

.form-group input[type="text"] {
    flex: 2;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0; /* Suppression de la marge */
}

.form-group.large {
    grid-column: span 3;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group.large label {
    flex: 0 0 150px;
    text-align: right;
    margin-right: 10px;
}

.form-group.large input[type="text"] {
    flex: 1;
}
